.pokemonName:first-letter {
    text-transform: capitalize;
}

.pokemonBody {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: '18rem';
    align-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 2em;
    padding-top: 1em;

    img {
        min-height: 100px;
    }
}

.mainRow {
    display: flex;
    align-content: space-around;
}

.navbar-toggler {
    display: none !important;
}